.communityBigBox {
    box-shadow: 0px 0px 7px lightgray;
    background-color: #f5f5f5;
  }
  .community {
    background-color: white;
    border-radius: 10px;
  }
  .error-message {
      color: red;
      margin-top: 5px;
    }
    .feedBox{
      margin: 0 auto;
      width: 50%;
    }