.container-fluid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 20px;
}
.leadPerformace {
  grid-column: 3/-1;
}
.profile {
  grid-column: 1/3;
}
.leadHead {
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid lightgray;
  box-shadow: 0px 2px 7px lightgray;
}
.leadHead button {
  border-radius: 20px;
  border: 1px solid lightgray;
  box-shadow: 0px 2px 7px lightgray;
  background-color: #363062;
  color: #f5f5f5;
  padding: 5px;
  font-size: 0.6em;
  margin-right: 20px;
}
.leadHead button:hover {
  background-color: #f99417;
}
.performanceSection {
  margin-top: 10px;
}
/* .performance{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    max-width: 100%;
} */

.profile1 {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0px 2px 7px lightgray;
}

.name {
 
  padding: 3px;
  margin: 10px auto;
}
.proimg {
  width: 30%;
  height: 30%;
  border-radius: 50%;
  border: 1px solid lightgrey;
  padding: 3px;
  box-shadow: 0px 5px 5px lightgray;
}
.symbol {
  width: 50%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.proRisk {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 10px;
  width: 90%;
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
}
.proUl {
  list-style-type: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;
  column-gap: 25px;
  border-bottom: 1px solid lightgray;
  font-size: 0.8em;
  padding: 20px;
}
.proLi:first-child > h6 {
  color: #16ff00;
}
.description {
  font-size: 0.7em;
  color: rgb(78, 78, 78);
  text-align: justify;
}
.navLi {
  color: #787878;
}
.navLi:hover {
  background-color: #f99417;
  color: #f5f5f5;
}
/* .proUl{
  display: flex;
 
  flex-wrap: wrap;
} */