.feedBigBox {
  box-shadow: 0px 0px 7px lightgray;
  background-color: #f5f5f5;
}
.leaderFeed {
  background-color: white;
  border-radius: 10px;
}
.feedComment {
  border: 1px solid lightgray;
  border-radius: 20px;
}
.error-message {
  color: red;
  margin-top: 5px;
}
.replyBox {
  display: flex !important;
  justify-content: flex-start !important;

  border: 0 !important;
}
