.test {
  color: #363062 #4d4c7d #f99417 #f5f5f5 #16ff00 #12ad04;
}
.generalPart {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 210px;
  /* height: 300px; */
  height: 280px;
  border: 2px solid #363062;
  border-radius: 20px;
  background-color: #f5f5f5;
  color: #363062;
  align-items: center;
  box-shadow: 5px 5px 5px  #4d4c7d;
  /* background-image: radial-gradient(#f5f5f5, #4d4c7d); */
  overflow: hidden;
}
.firstLine {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* margin: 8px; */
}
.risk {
  background-color: #363062;
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.6em;
  font-weight: bold;
  color: #f5f5f5;
  border: 2px solid #f5f5f5;
}
.secondLine {
  display: flex;
  align-items: center;
  justify-content: center;
}
.thirdLine {
  display: flex;
  align-items: center;
  justify-content: center;
}
.namePersonalCard{
  color: #363062;
 
 
  
}
.roi {
  display: flex;
  align-items: center;
  justify-content: center;
}
.roi > p {
  width: auto;
  height: 25px;
  border: 2px solid #16ff00;
  border-radius: 20px;
  color: #4d4c7d;
  padding: 0 5px;
  font-size: 0.8em;
}
.personImg {
  margin-right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px #737373;
}
#star {
  color: #363062;
  margin-right: auto;
}
#star:hover {
  /* background-color: #363062; */
  color: #f99417;
  /* border-radius: 50%; */
}
#cardCopiers{
  font-size: 0.8em;
}
.chartCard{
width: 210px;
height: 110px;
overflow: hidden;
}