.test {
  color: #363062 #4d4c7d #f99417 #f5f5f5 #16ff00;
}
#ecom::first-letter {
  color: #f99417;
}

#ecom {
  font-size: xx-large;
  color: #f5f5f5;
  margin-right: 80px;
  margin-bottom: 10px;
  /* display: inline; */
  /* animation: animate__rubberBand; */
  display: inline-block;
  margin: 0 0.5rem;

  animation: flip; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s;
}

.menu {
  background-color: #363062 !important;
  display: flex;
  justify-content: space-around;
  /* color: #F5F5F5 !important; */
}
.item-menu {
  color: #f5f5f5 !important;
}
.item-menu:hover {
  background-color: #f99417;
  border-radius: 20px;
  /* padding: 2px; */
}
#basic-nav-dropdown {
  color: #f5f5f5;
}
.login:hover {
  background-color: #f99417;
  color: #f5f5f5;
  padding: 5px 23px;
  border-radius: 50px;
  border: 3px solid #4d4c7d;
}
.login {
  background-color: #4d4c7d;
  color: #f5f5f5;
  padding: 5px 23px;
  border-radius: 50px;
  border: 3px solid #f99417;
}
.Language {
  margin-right: 20px;
  color: #f5f5f5 !important;
}
#search {
  border: 3px solid #f99417;
  text-align: center;
}
#icon {
  color: #f99417;
  background-color: #363062;
  position: absolute;
  margin-left: 2px;
  height: 41px;
  border: 2px solid #f99417;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;

  /* background-color: #f99417;
  border: 3px solid #4d4c7d; */
}
#form {
  /* display: flex; */
  position: relative;
}
