
.test {
  color: #363062 #4d4c7d #f99417 #f5f5f5 #16ff00;
}
.colors{
  color: #040D12 rgb(4, 13, 18) #183D3D rgb(24, 61, 61) #5C8374 rgb(92, 131, 116) #93B1A6 rgb(147, 177, 166);
}
#ecom::first-letter {
  color: #D89216;
}



#ecom {
  font-size: xx-large;
  color: #f5f5f5;
  margin-right: 80px;
  margin-bottom: 10px;
  /* display: inline; */
  /* animation: animate__rubberBand; */
  display: inline-block;
  margin: 0 0.5rem;
  margin-right: 150px;
  margin-left: 50px;
  animation: flip; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s;
}
.navContainer {
  margin-top: 0 !important;
}
.menu {
  background-color: #183d3d !important;

  display: flex;
  justify-content: space-around;
  /* color: #F5F5F5 !important; */
}
.item-menu {
  color: #f5f5f5 !important;
  border-radius: 20px;
}
.item-menu:hover {
  /* background-color: #f99417; */

  background-color: #93b1a6;
  border-radius: 20px;
  /* padding: 2px; */
}
#basic-nav-dropdown {
  color: #f5f5f5;
}
.loginBtn:hover {
  color: #fff;
  padding: 5px 21px;
  border-radius: 50px;
  border: 3px solid #93b1a6;
}
.loginBtn {
  background-color: #5c8374;
  color: #f5f5f5;
  padding: 5px 23px;
  border-radius: 50px;
  border: 1px solid #5c8374;
}
.signUpBtn{
  background-color: #5c8374;
  color: #f5f5f5;
  padding: 5px 18px;
  border-radius: 50px;
  border: 1px solid #5c8374;
  margin-right: 3px;
}
.signUpBtn:hover{
  color: #fff;
  padding: 5px 16px;
  border-radius: 50px;
  border: 3px solid #93b1a6;
}
.Language {
  margin-right: 20px;
  color: #f5f5f5 !important;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;
}
#search {
  border: 2px solid #5c8374;
  text-align: center;
}
#icon {
  color: #fff;
  background-color: #5c8374;
  position: absolute;
  /* margin-left: 2px; */
  height: 35px;
  border: 1px solid #5c8374;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;

  /* background-color: #f99417;
  border: 3px solid #4d4c7d; */
}
#form {
  /* display: flex; */
  position: relative;
}
.navLnBtn {
  background-color: #363062 !important;
  color: white !important;
  font-size: 1.2em !important;
}
