.gauge {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;

}
.allGauge {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.gaugeSwitch{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.gaugeSwitchbox{
  display: flex;
  flex-wrap: nowrap;
  width: 50%;
  justify-content: space-around;
}

.gaugeSwitchLbox{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.xup{
  font-size: 1.5em;
  font-weight: bolder;
}
.gaugeInfo{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px;
}
.currencyInfoPTag{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}